@model IEnumerable<AutomativeRepairShop.Core.DTOs.VehicleDto>

@{
    ViewData["Title"] = "VehicleList";
}

<div class="row">
    <div class="col-md-2">
        <h4>Araçlar</h4>
    </div>
    <div class="col-md-10">
        <button type="submit" onclick="location.href='@Url.Action("AddVehicle", "Vehicle")'" class="btn btn-outline-primary">Araç Ekle</button>
    </div>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                <button type="submit" onclick="location.href='@Url.Action("UpdateVehicle", "Vehicle", new { id = item.Id })'" class="btn btn-outline-info">Araç Güncelle</button>
                <button type="submit" onclick="location.href='@Url.Action("DeleteVehicle", "Vehicle", new { id = item.Id })'" class="btn btn-outline-danger">Araç Sil</button>
            </td>
        </tr>
}
    </tbody>
</table>
