@model IEnumerable<AutomativeRepairShop.Core.DTOs.CustomerDto>

@{
    ViewData["Title"] = "CustomerList";
}

<div class="row">
    <div class="col-md-2">
        <h4>Müşteriler</h4>
    </div>
    <div class="col-md-10">
        <button type="submit" onclick="location.href='@Url.Action("AddCustomer", "Customer")'" class="btn btn-outline-primary">Müşteri Ekle</button>
    </div>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <button type="submit" onclick="location.href='@Url.Action("UpdateCustomer", "Customer", new { id = item.Id })'" class="btn btn-outline-info">Müşteri Güncelle</button>
                <button type="submit" onclick="location.href='@Url.Action("DeleteCustomer", "Customer", new { id = item.Id })'" class="btn btn-outline-danger">Müşteri Sil</button>
            </td>
        </tr>
}
    </tbody>
</table>
